 .form-login-btn {
    background-color: #276ef1;
    color: #fff;
    font-size: 16px;
    line-height: 2; 
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 70px;
    max-width: 70px; 
    margin-left: 120px;
    
}
.error-span{
  color: red;
  margin-left: 94px;
  
}
.userName-label {
  margin-right: 143px;
}
.password-label {
  margin-right: 143px;
}
.form-data {
  text-align: center;
}

.signInHeader{
  text-align: center;
}

.name-input {
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px;

}

.password-input {
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px;
}


.form-login-btn {
  margin-right: 20px;
}

.loginPage {
    position: absolute;
  
    width: 300px;
    height: 300px;
  
    /* Center form on page horizontally & vertically */
    top: 50%;
    left: 50%;
    margin-top: -135px;
    margin-left: -155px;
    border: solid 1px;
    border-radius: 20px;

}