.login-signupp {
  color:#fff;
}


.companyLogo {
  color: #000;
  text-decoration: none;
  font-size: 30px;
}

.logoY {
  border-radius: 10px;
  background-color: rgb(241, 134, 72);
}

  .navbar {
    
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        line-height: 53px;
        background-color: #000;
        position: sticky;
        z-index: 999;
        top: 0;
        box-shadow: 1px 2px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 8%);       
  } 
